<%= link_to "Home", root_path %>
<h1>Orders</h1>

<%if @selected_cat != ''%>

<p>Filtered by category '<strong> <%= @selected_cat %></strong>'</p>

<%end%>

<% if @categories.length > 0 %>
<div class="left"></div>
<h4>Filter orders by Category:</h4>
<ul>
    <li><%= link_to 'Clear Filters', orders_path %></li>
    <% @categories.each do |cat| %>
        <li><%= link_to cat.name, orders_path(:category => cat.id) %></li>
    <% end %>
</ul>

<%end%>

<% if @list.length > 0 %>
<table>
  <tr>
    <th>Id</th>
    <th>Currency</th>
    <th>Gross</th>
    <th>Discount</th>
    <th>Net</th>
    <th>Category</th>
    <th>Details</th>
  </tr>
  <% @list.each do |order| %>
  <tr>
      <td>
      <%= order.id %>
    </td>
    <td>
      <%= order.currency %>
    </td>
    <td>
      <%= order.gross %>
    </td>
    <td>
      <%= order.discount %>
    </td>
    <td>
     <% if order.discount%>
             <%= order.gross - order.discount %>
        <% else %>
            <%= order.gross %>
        <% end%>
    </td>
    <td>
        <% if order.category%>
            <%= order.category.name %>
        <% else %>
            <%= "No category" %>
        <% end%>
    </td>
    <td>
       <%= link_to '>', order %>
    </td>
    </tr>
  <% end %>
</table>
<%else%>
<p>There isn't any order</p>
<%end%>


<p> <%= link_to "Create", new_order_path(@order)%> </p>



