<%= link_to "Home", root_path %>
<h1>Orders</h1>
<table>
  <tr>
    <th>Currency</th>
    <th>Gross Price</th>
    <th>Discount</th>
    <th>Net Price</th>
    <th>Category</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td>
      <%= order.currency %>
    </td>
    <td>
      <%= order.gross %>
    </td>
    <td>
      <%= order.discount %>
    </td>
    <td>
      <%= order.gross - order.discount %>
    </td>
    <td>
        <% if order.category%>
            <%= order.category.name %>
        <% else %>
            <%= "No category" %>
        <% end%>
    </td>
    </tr>
  <% end %>
</table>