<%= link_to "Home", root_path %>
<h1>Categories</h1>
<% if @categories.length > 0 %>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Details</th>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td>
      <%= category.id %>
    </td>
    <td>
      <%= category.name %>
    </td>
    <td>
       <%= link_to '>', category %>
    </td>
    </tr>

         

  <% end %>
</table><%else%>
  There is no category in the database. Please add one.
<%end%>
<p> <%= link_to "Create", new_category_path(@category)%> </p>
